* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: black;
    background: #efeee7;
}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
    justify-content: center;
    background-color: white;
}

img {
    display: block;
    max-width: 100%;
}

.topnav a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0 25px;
    line-height: 80px;
    font-size: 1.6em;
}

.topnav a:hover {
    background-color: black;
    color: white;
}

h1 {
    padding: 20px 0 20px 20px;
    margin: 20px auto 20px auto;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
}

h2 {
    font-size: 24px;
}

a {
    color: #d21034;
    text-decoration: none;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}

#main-bio {
    width: 70%;
}

.contact-info {
    width: 30%;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}